<form name="modalCreateAPIKeyForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'CREATE_NEW_API_KEY' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && modalCreateAPIKeyForm.title.$invalid]">
            <input type="text" name="title" class="form-control" id="folderName" placeholder="{{'TITLE' | translate}}" ng-model="title" required autofocus>
            <p class="help-block" ng-show="submitted && modalCreateAPIKeyForm.title.$error.required">{{'TITLE_IS_REQUIRED' | translate}}</p>
        </div>
        <div class="form-group">
            <input type="checkbox" ng-model="restrict_to_secrets"> {{'SECRETS_ONLY' | translate}}?
        </div>
        <div class="form-group">
            <input type="checkbox" ng-model="allow_insecure_access"> {{'ALLOW_INSECURE_USAGE' | translate}}?
        </div>
        <div class="form-group alert alert-warning" ng-if="!restrict_to_secrets">
            <strong>{{'WARNING' | translate}}!</strong> {{'API_KEY_NOT_RESTRICTED_TO_SECRETS_WARNING' | translate}}
        </div>
        <div class="form-group alert alert-warning" ng-if="allow_insecure_access">
            <strong>{{'WARNING' | translate}}!</strong> {{'API_KEY_INSECURE_USAGE_WARNING' | translate}}
        </div>

        <div class="container-fluid">
            <uib-tabset class="tabset_expand">
                <uib-tab heading="{{'SECRETS' | translate}}">

                    <button type="submit" class="btn btn-primary btn-primary pull-right" ng-click="add_new_secret()"><i class="fa fa-plus"></i> {{'ADD_SECRET' | translate}}</button>
                    <div class='clearfix'></div>

                    <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                        <tr>
                            <th>{{'TITLE' | translate}}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="secret in secrets.data">
                            <td>{{ secret.name }}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="remove_secret(secret)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
        <button class="btn btn-primary" type="submit" ng-click="submitted=true;save()">{{'CREATE' | translate}}</button>
    </div>
</form>