<form name="modalDeleteVerifyForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{ title | translate }}</h3>
    </div>
    <div class="modal-body">

        <div class="form-group alert alert-danger">
            <strong>{{'DANGER' | translate}}!</strong> {{ description | translate }}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'ABORT' | translate}}</button>
        <button class="btn btn-primary" type="submit" ng-click="confirm()">{{'YES' | translate}}</button>
    </div>
</form>