<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#!/groups">/groups</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>{{'LIST_OF_GROUPS' | translate}}</h1>
        </div>
    </div>

    <div ng-controller="GroupsCtrl" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'GROUPS' | translate}}</h3>
        </div>
        <div class="panel-body">

            <div class="panel-buttons">
                <button type="submit" class="btn btn-primary btn-primary" ng-click="create_group()">
                    <i class="fa fa-plus"></i> {{'CREATE_GROUP' | translate}}
                </button>
                <div class='clearfix'></div>
            </div>

            <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                <thead>
                <tr>
                    <th>{{'NAME' | translate}}</th>
                    <th>{{'EDIT' | translate}}</th>
                    <th>{{'ACCEPT' | translate}}</th>
                    <th>{{'DECLINE' | translate}}</th>
                    <th>{{'LEAVE' | translate}}</th>
                    <th>{{'DELETE' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="group in groups">
                    <td>{{ group.name }}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="edit_group(group.group_id, 'lg')"
                                ng-disabled="!group.group_admin || (group.accepted !== false && group.accepted !== true)" >
                            <i class="fa fa-wrench" aria-hidden="true"><span style="display: none">0</span></i>
                        </button>
                    </td>
                    <td>
                        <button ng-if="group.accepted !== false && group.accepted !== true" type="button"
                                class="btn btn-default btn-sm" ng-click="accept_group(group)">
                            {{'ACCEPT' | translate}}
                        </button>
                        <button ng-if="group.accepted == true && outstanding_share_index[group.group_id]" type="button"
                                class="btn btn-default btn-sm" ng-click="accept_new_group_shares(group)">
                            {{'ACCEPT_NEW_SHARES' | translate}}
                        </button>
                    </td>
                    <td>
                        <button ng-if="group.accepted !== false && group.accepted !== true" type="button"
                                class="btn btn-default btn-sm" ng-click="decline_group(group)">
                            {{'DECLINE' | translate}}
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="leave_group(group)"
                                ng-disabled="group.accepted !== false && group.accepted !== true" >
                            <i class="fa fa-sign-out" aria-hidden="true"><span style="display: none">0</span></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="delete_group(group.group_id)"
                                ng-disabled="!group.group_admin || (group.accepted !== false && group.accepted !== true)" >
                            <i class="fa fa-trash" aria-hidden="true"><span style="display: none">0</span></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>