<!DOCTYPE html>
<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#">/other</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>{{'OTHER' | translate}}</h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix ng-scope">
            <h3 class="panel-title ng-binding ng-scope">{{'OTHER' | translate}}</h3>
        </div>
        <div class="panel-body" style="height: auto;">
            <uib-tabset class="tabset_expand" active="active_tab">

                <uib-tab index="0" heading="{{'SESSIONS' | translate}}" select="open_tab('sessions')">
                    <div ng-controller="OtherSessionsCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>{{'SESSIONS' | translate}}:</h2>
                                {{'SESSIONS_DESCRIPTION' | translate}}
                            </div>
                        </div>
                        <hr>
                        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th>{{'DEVICE' | translate}}</th>
                                <th>{{'CREATED' | translate}}</th>
                                <th>{{'CURRENT_SESSION' | translate}}</th>
                                <th>{{'DELETE' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="session in sessions">
                                <td>{{ session.device_description }}</td>
                                <td>{{ session.create_date }}</td>
                                <td>
                                    <i ng-if="session.current_session" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-if="!session.current_session" ng-click="delete_session(session.id)" >
                                        <i class="fa fa-trash" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>

                <uib-tab index="1" heading="{{'DATASTORES' | translate}}" select="open_tab('data-stores')">
                    <div ng-controller="OtherDatastoreCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h2>{{'DATASTORES' | translate}}:</h2>
                                {{'HERE_YOU_CAN_MANAGE_ALL_YOUR_PASSWORD_DATASTORES' | translate}}
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <button type="submit" class="btn btn-primary btn-primary pull-right" ng-click="create_new_datastore()"><i class="fa fa-plus"></i> {{'CREATE_NEW_DATASTORE' | translate}}</button>
                                <div class='clearfix'></div>
                            </div>
                        </div>
                        <hr>

                        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th>{{'DESCRIPTION' | translate}}</th>
                                <th>{{'DEFAULT' | translate}}</th>
                                <th>{{'EDIT' | translate}}</th>
                                <th>{{'DELETE' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data_store in data_stores">
                                <td>{{ data_store.description }}</td>
                                <td>
                                    <i ng-if="data_store.is_default" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!data_store.is_default" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="edit_data_store(data_store)" >
                                        <i class="fa fa-wrench" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-if="!data_store.is_default" ng-click="delete_datastore(data_store)" >
                                        <i class="fa fa-trash" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>

                <uib-tab index="2" heading="{{'API_KEYS' | translate}}" select="open_tab('api-keys')">
                    <div ng-controller="OtherAPIKeyCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h2>{{'API_KEYS' | translate}}:</h2>
                                {{'HERE_YOU_CAN_MANAGE_ALL_YOUR_API_KEYS' | translate}}
                            </div>
                            <div class="col-xs-12 col-sm-6" ng-if="!api_keys_disabled">
                                <button type="submit" class="btn btn-primary btn-primary pull-right" ng-click="create_new_api_key()"><i class="fa fa-plus"></i> {{'CREATE_NEW_API_KEY' | translate}}</button>
                                <div class='clearfix'></div>
                            </div>
                        </div>
                        <hr>

                        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs" ng-if="!api_keys_disabled">
                            <thead>
                            <tr>
                                <th>{{'TITLE' | translate}}</th>
                                <th>{{'SECRETS_ONLY' | translate}}</th>
                                <th>{{'INSECURE' | translate}}</th>
                                <th>{{'ACTIVE' | translate}}</th>
                                <th>{{'EDIT' | translate}}</th>
                                <th>{{'DELETE' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="api_key in api_keys">
                                <td>{{ api_key.title }}</td>
                                <td>
                                    <i ng-if="api_key.restrict_to_secrets" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!api_key.restrict_to_secrets" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </td>
                                <td>
                                    <i ng-if="api_key.allow_insecure_access" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!api_key.allow_insecure_access" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </td>
                                <td>
                                    <i ng-if="api_key.active" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!api_key.active" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="edit_api_key(api_key)" >
                                        <i class="fa fa-wrench" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-if="!api_key.is_default" ng-click="delete_api_key(api_key)" >
                                        <i class="fa fa-trash" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group alert alert-info" ng-if="api_keys_disabled">
                            <strong>{{'INFO' | translate}}:</strong> <span>{{ 'API_KEYS_HAVE_BEEN_DISABLED' | translate }}</span>
                        </div>
                    </div>

                </uib-tab>

                <uib-tab index="3" heading="{{'FILE_REPOSITORIES' | translate}}" select="open_tab('file-repositories')">
                    <div ng-controller="OtherFileRepositoryCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h2>{{'FILE_REPOSITORIES' | translate}}:</h2>
                                {{'HERE_YOU_CAN_MANAGE_ALL_YOUR_FILE_REPOSITORIES' | translate}}
                            </div>
                            <div class="col-xs-12 col-sm-6" ng-if="!file_repositories_disabled">
                                <button type="submit" class="btn btn-primary btn-primary pull-right" ng-click="create_new_file_repository()"><i class="fa fa-plus"></i> {{'CREATE_NEW_FILE_REPOSITORY' | translate}}</button>
                                <div class='clearfix'></div>
                            </div>
                        </div>
                        <hr>

                        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs" ng-if="!file_repositories_disabled">
                            <thead>
                            <tr>
                                <th>{{'TITLE' | translate}}</th>
                                <th>{{'TYPE' | translate}}</th>
                                <th>{{'ACTIVE' | translate}}</th>
                                <th>{{'EDIT' | translate}}</th>
                                <th>{{'DELETE' | translate}}</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="file_repository in file_repositories">
                                <td>{{ file_repository.title }}</td>
                                <td>{{ file_repository.type }}</td>
                                <td>
                                    <i ng-if="file_repository.active" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!file_repository.active" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="edit_file_repository(file_repository)" ng-disabled="!file_repository.accepted || !file_repository.read">
                                        <i class="fa fa-wrench" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-if="!file_repository.is_default" ng-click="delete_file_repository(file_repository)"  ng-disabled="!file_repository.accepted || !file_repository.write || !file_repository.grant">
                                        <i class="fa fa-trash" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="accept(file_repository)" ng-if="!file_repository.accepted">
                                        {{'ACCEPT' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="decline(file_repository)" ng-if="file_repository.accepted">
                                        {{'DECLINE' | translate}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group alert alert-info" ng-if="file_repositories_disabled">
                            <strong>{{'INFO' | translate}}:</strong> <span>{{ 'FILE_STORAGES_HAVE_BEEN_DISABLED' | translate }}</span>
                        </div>
                    </div>

                </uib-tab>

                <uib-tab index="4" heading="{{'KNOWN_HOSTS' | translate}}" select="open_tab('known-hosts')">
                    <div ng-controller="OtherKnownHostsCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>{{'KNOWN_HOSTS' | translate}}:</h2>
                                {{'KNOWN_HOSTS_DESCRIPTION' | translate}}
                            </div>
                        </div>
                        <hr>

                        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th>{{'HOST' | translate}}</th>
                                <th>{{'FINGERPRINT' | translate}}</th>
                                <th>{{'CURRENT_HOST' | translate}}</th>
                                <th>{{'DELETE' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="host in known_hosts">
                                <td class="hyphens">{{ host.url }}</td>
                                <td>{{ host.verify_key | limitTo:20 }}<span ng-if="host.verify_key.length > 20">...</span></td>
                                <td>
                                    <i ng-if="host.current_host" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="delete_known_host(host)" >
                                        <i class="fa fa-trash" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>

                <uib-tab index="5" heading="{{'EXPORT' | translate}}" select="open_tab('export')">
                    <div ng-controller="OtherExportCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>{{'EXPORT' | translate}}:</h2>
                                {{'EXPORT_DESCRIPTION' | translate}}
                            </div>
                        </div>
                        <hr>

                        <form class="form-horizontal" ng-if="!export_disabled" autocomplete="off">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="export_type">
                                    {{'TYPE' | translate}}:
                                </label>
                                <div class="col-sm-10">
                                    <select id="export_type" name="export_type" class="form-control"
                                            ng-model="export_options.selected_option"
                                            ng-init="export_options.selected_option = export_options.options[0]"
                                            ng-options="option.name for option in export_options.options">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary btn-primary" ng-click="export_datastore(export_options.selected_option.value)">{{'EXPORT' | translate}}</button>
                                </div>
                            </div>

                            <uib-progressbar max="state.open_secret_requests" value="state.closed_secret_request" ng-if="state.download_ongoing">
                                <span style="color:white; white-space:nowrap;">{{ state.closed_secret_request }} / {{ state.open_secret_requests }}</span>
                            </uib-progressbar>

                            <div class="form-group alert alert-danger" ng-repeat="e in errors">
                                <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
                            </div>

                            <div class="form-group alert alert-success" ng-repeat="e in msgs">
                                <strong>{{'SUCCESS' | translate}}:</strong> <span translate="{{ e }}"></span>
                            </div>
                        </form>

                        <div class="form-group alert alert-info" ng-if="export_disabled">
                            <strong>{{'INFO' | translate}}:</strong> <span>{{ 'EXPORT_HAS_BEEN_DISABLED' | translate }}</span>
                        </div>

                    </div>

                </uib-tab>

                <uib-tab index="6" heading="{{'IMPORT' | translate}}" select="open_tab('import')">
                    <div ng-controller="OtherImportCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>{{'IMPORT' | translate}}:</h2>
                                {{'IMPORT_DESCRIPTION' | translate}}
                            </div>
                        </div>
                        <hr>

                        <form class="form-horizontal" autocomplete="off">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="import_type">
                                    {{'TYPE' | translate}}:
                                </label>
                                <div class="col-sm-10">
                                    <select id="import_type" name="import_type" class="form-control"
                                            ng-model="import_options.selected_option"
                                            ng-init="import_options.selected_option = import_options.options[0]"
                                            ng-options="option.name for option in import_options.options">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="import_type">
                                    {{'FILE' | translate}}:
                                </label>
                                <div class="col-sm-10">
                                    <input type="file" file-reader="fileContent" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary btn-primary" ng-click="import_datastore(import_options.selected_option.value, fileContent)">{{'IMPORT' | translate}}</button>
                                </div>
                            </div>

                            <uib-progressbar max="state.open_secret_requests" value="state.closed_secret_request" ng-if="state.upload_ongoing">
                                <span style="color:white; white-space:nowrap;">{{ state.closed_secret_request }} / {{ state.open_secret_requests }}</span>
                            </uib-progressbar>

                            <div class="alert alert-danger" ng-repeat="e in errors">
                                <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
                            </div>

                            <div class="alert alert-success" ng-repeat="e in msgs">
                                <strong>{{'SUCCESS' | translate}}:</strong> <span translate="{{ e }}"></span>
                            </div>
                        </form>

                        <div class="alert alert-info" ng-if="import_options.selected_option.help">
                            <strong>{{'INSTRUCTIONS' | translate}}:</strong><br><br><span ng-bind-html="import_options.selected_option.help"></span>
                        </div>
                    </div>

                </uib-tab>
            </uib-tabset>
        </div>
    </div>

</div>